<form id="credentials" method="POST" action=".">

    <input type="text" id="user" placeholder="Username" />

    <input type="password" id="password" />

    <input type="submit" value="Send" />

</form>