<div class="center">

    <form id="credentials" method="post" action=".">

        <input type="text" id="user" name="user" placeholder="Username" />

        <input type="password" name="password" id="password" />

        <input type="submit" value="Send" />

    </form>

</div>