<form id="credentials" method="post" action=".">

    <div class="container">
    
        <div class="inputs">
    
            <div class="user_cont">
                <input type="text" id="user" name="user" placeholder="username" value="@Model.Data.Username" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#333333" class="icon w-6 h-6">
                    <path stroke-linecap="round" d="M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25" />
                </svg>
            </div>
    
            <div class="pass_cont">
                <input type="password" name="password" id="password" placeholder="password" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#333333" class="icon w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
                </svg>
            </div>

            @if (@Model.Data.ErrorMessage != null)
            {
                <div class="error_message">
                    @Model.Data.ErrorMessage
                </div>
            }
    
            <button>@Model.Data.ButtonCaption</button>
    
        </div>
    
    </div>

</form>