<!DOCTYPE HTML>

<html lang="en">

<head>

    <title>{{ content.title }}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    {{~ for style in styles ~}}
    <link rel="stylesheet" href="{{ route style.path }}" />
    {{~ end ~}}

</head>

<body class="is-preload">

    <div id="page-wrapper">

        <!-- Header -->
        <div id="header">

            {{ if model.title }}
            
                <!-- Logo -->
                <h1><a href="{{ route "{root}" }}" id="logo">{{ model.title }}</a></h1>
            
            {{ end }}

            <!-- Nav -->
            <nav id="nav">

                <ul>

                    {{~ for item in menu ~}}
                    
                         {{ active = (request.path | string.contains item.path) || ( ( request.path | string.ends_with("/") ) && ( (route item.path) == "./" ) ) }}

                         <li {{ if active }}class="current"{{ end }}>
                                                     
                            {{ if item.children }}
                                <a href="{{ route item.path }}">{{ item.title }}</a>   
                                <ul>
                                {{ for child in item.children }}                       
                                    <li>
                                        <a href="{{ route child.path }}">{{ child.title }}</a>
                                    </li>
                                {{ end }}
                                </ul>
                            {{ else }}
                                <a href="{{ route item.path }}" {{ if active }}class="current"{{ end }}>{{ item.title }}</a>                                                        
                            {{ end }}

                        </li>

                    {{~ end ~}}

                </ul>
            </nav>

        </div>

        <!-- Content -->
        {{ content.content }}

        <!-- Footer -->
        <div id="footer">
            <div class="container">
                <div class="row">

                    {{ if model.footer1 }}

                    <section class="col-3 col-6-narrower col-12-mobilep">
                        <h3>{{ model.title1 }}</h3>
                        <ul class="links">
                            {{ for item in model.footer1 }}
                                <li><a href="{{ route item.path }}">{{ item.title }}</a></li>
                            {{ end }}
                        </ul>
                    </section>

                    {{ end }}

                    {{ if model.footer2 }}

                    <section class="col-3 col-6-narrower col-12-mobilep">
                        <h3>{{ model.title2 }}</h3>
                        <ul class="links">
                            {{ for item in model.footer2 }}
                                <li><a href="{{ route item.path }}">{{ item.title }}</a></li>
                            {{ end }}
                        </ul>
                    </section>

                    {{ end }}

                    <section class="col-6 col-12-narrower">
                        <h3>Get In Touch</h3>
                        <form>
                            <div class="row gtr-50">
                                <div class="col-6 col-12-mobilep">
                                    <input type="text" name="name" id="name" placeholder="Name" />
                                </div>
                                <div class="col-6 col-12-mobilep">
                                    <input type="email" name="email" id="email" placeholder="Email" />
                                </div>
                                <div class="col-12">
                                    <textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
                                </div>
                                <div class="col-12">
                                    <ul class="actions">
                                        <li><input type="submit" class="button alt" value="Send Message" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>

            <!-- Icons -->
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                <li><a href="#" class="icon brands fa-google-plus-g"><span class="label">Google+</span></a></li>
            </ul>

            <!-- Copyright -->
            <div class="copyright">
                <ul class="menu">

                    {{ if model.copyright }}
                        <li>{{ model.copyright }}</li>
                    {{ end }}

                    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>

        </div>

    </div>

    <!-- Scripts -->
    {{~ for script in scripts ~}}
        <script src="{{ route script.path }}"></script>
    {{~ end ~}}

</body>
</html>